@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/cocogoose");

* {
  font-family: "Lato", sans-serif;
  color: #272a31;
  padding: 0;
  margin: 0;
}

.toolbar {
  display: none;
}

.mobile-navbar {
  background-image: url(./images/background1.png);
}

#hambuger {
  font-size: 28px;
  padding: 10px;
}

.menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100vw;
  background-color: #fff;
  transition: left 300ms ease-in;
}

.mobile-navbar nav i {
  font-size: 28px;
  position: absolute;
  top: 1em;
  right: 1em;
}

.mobile-navbar nav ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 3em;
  margin-left: 2em;
}

.mobile-navbar nav ul li {
  list-style: none;
}

.mobile-navbar nav ul li a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
}

.nav-link {
  color: #fff;
}

.header {
  display: none;
}

.mobile-menu {
  background-color: #272a31;
  left: 0;
}

#close-btn {
  color: #fff;
}

.hello-container {
  background-image: url(./images/background1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0%;
}

.hello {
  padding: 20px;
}

.hello-subtitle {
  color: #ec5242;
  font-size: 1.5em;
}

.hello-title {
  background-image: url(./images/background-text.jpg);
  text-transform: uppercase;
  background-repeat: repeat;
  background-size: contain;
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2em;
  font-weight: 900;
  line-height: 48px;
  font-family: 'Lexend Deca', sans-serif;
}

.hello-text {
  padding: 20px;
  text-align: left;
  margin-top: -10%;
  word-break: break-all;
  font-size: 0.82em;
}

.location-container {
  margin-bottom: 10%;
}
.date {
  font-size: 1.5em;
  font-weight: 900;
  margin-left: 5%;
  width: 90%;
  text-align: left;
  letter-spacing: 0;
}

.location {
  font-size: 1.3em;
  font-weight: 700;
  width: 90%;
  text-align: left;
  margin-left: 5%;
}

.main-program {
  background-image: url(./images/background.png);
  background-repeat: repeat;
  background-color: #272a32;
  padding-bottom: 10%;
}

.main-program-title-text {
  color: #fff;
  text-align: center;
  padding-top: 10%;
}

.main-program-title-bar {
  width: 3em;
  height: 1em;
  border-bottom: 1px solid #ef513c;
  margin: 1px auto 3em;
}

.programs-img {
  margin-left: 3%;
}

.programs {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.programs-title {
  color: #ef513c;
  font-size: 0.875em;
  text-align: center;
  width: 26%;
  padding-left: 7px;
  line-height: 52px;
  margin-left: -5%;
}

.programs-text {
  color: #fff;
  font-size: 0.75em;
  padding: 0 0.5em 0 0;
  word-break: keep-all;
  overflow: auto;
  height: auto;
  width: calc(74% - 6.5em);
  margin-top: 5%;
}

.whole-program {
  text-align: center;
  padding-top: 5%;
}

.whole-program a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

.partners {
  background-color: #414246;
}

.partners-title {
  color: #8f8f91;
  text-align: center;
  padding-top: 5%;
  margin-top: 0%;
}

.partners-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.partner {
  margin-bottom: 5%;
}

.logo-partner {
  width: 4em;
  height: 1.8em;
}

.partners-title-bar {
  width: 3em;
  height: 1em;
  border-bottom: 1px solid #ef513c;
  margin: 1px auto 8px;
}

footer {
  display: flex;
  gap: 3em;
  padding: 2em;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 100vw;
}

.footer-text {
  font-size: 14px;
}

.f-text {
  display: none;
}

@media only screen and (min-width: 768px) {
  #hambuger {
    display: none;
  }

  .header {
    display: flex;
    background-color: #272a31;
  }

  .header ul {
    display: flex;
    gap: 1.5em;
    width: 100vw;
    height: 40px;
    align-items: center;
    justify-content: end;
    padding-right: 18%;
  }

  .header li {
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
  }

  .header i {
    color: #fff;
  }

  .toolbar {
    display: flex;
    background-color: #fff;
    justify-content: end;
    align-items: center;
    padding: 0;
    margin: 0;
    position: relative;
    height: 80px;
    overflow: hidden;
  }

  .toolbar ul {
    display: flex;
    align-items: center;
    padding-right: 25%;
  }

  .toolbar li {
    list-style: none;
    padding: 0 3%;
  }

  .toolbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
  }

  .toolbar img {
    height: 50%;
    position: absolute;
    top: 16%;
    left: 5%;
  }

  #campaign {
    margin-left: 35px;
    white-space: nowrap;
    border: 3px solid #ec5242;
    padding: 0.5em 0.5em;
  }

  .introduction {
    margin: auto 20% 2% 10%;
    padding-top: 6%;
  }

  .hello-title{
    margin-bottom: 10%;
    width: 80%;
    font-size: 3em;
  }

  .hello-text {
    font-size: 1em;
    border: 4px solid rgb(255, 255, 255);
    background-color: rgb(247, 247, 248);
  }

  .date {
    font-size: 1.5em;
  }

  .location {
    font-size: 1.6em;
  }

  .programs {
    margin: auto auto 5% 3px;
    padding-top: 2%;
    float: left;
    width: calc(20% - 3px);
    height: 250px;
    background: rgba(255, 255, 255, 0.1);
    display: block;
    text-align: center;
  }

  .programs-title {
    text-align: center;
    width: auto;
    font-size: 1.5em;
  }

  .programs-text {
    padding: auto;
    width: 100%;
    margin-top: auto;
    font-size: 0.75em;
  }

  .cards {
    justify-content: space-between;
    margin: 10px 100px 10px 100px;
  
  }

  .logo-partner {
    width: 7em;
    height: 3em;
  }


}
